USE [master]
GO
/****** Object:  Database [db_bsn_user4]    Script Date: 25.05.2023 17:00:42 ******/
CREATE DATABASE [db_bsn_user4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bsn_user4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_bsn_user4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bsn_user4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bsn_user4]
GO
/****** Object:  User [bsn_user4]    Script Date: 25.05.2023 17:00:43 ******/
CREATE USER [bsn_user4] FOR LOGIN [bsn_user4] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bsn_user4]
GO
/****** Object:  Table [dbo].[Competition]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competition](
	[id] [float] NOT NULL,
	[title] [nvarchar](255) NULL,
	[date_start] [nvarchar](255) NULL,
	[date_end] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[city] [nvarchar](255) NULL,
 CONSTRAINT [PK_Competition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competition_skill]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition_skill](
	[competition_id] [float] NOT NULL,
	[skill_id] [float] NOT NULL,
 CONSTRAINT [PK_competition_skill] PRIMARY KEY CLUSTERED 
(
	[competition_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[Код] [float] NOT NULL,
	[Название региона] [varchar](50) NULL,
	[Столица] [varchar](50) NULL,
	[Округ] [varchar](50) NULL,
 CONSTRAINT [PK_regions] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id role] [float] NOT NULL,
	[role] [nvarchar](255) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[id] [float] NOT NULL,
	[title] [nvarchar](255) NULL,
	[skill_block_id] [float] NULL,
	[is_future] [float] NULL,
	[description] [nvarchar](max) NULL,
	[площадь на рабочее место (кв#м)] [float] NULL,
	[площадь комнаты оценки на одну экспертную группу (кв# м)] [float] NULL,
	[зона брифинга (кв# м)] [float] NULL,
	[площадь склада (кв# м)] [float] NULL,
	[количество участников в команде] [float] NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill_Block]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill_Block](
	[id] [float] NOT NULL,
	[title] [nvarchar](255) NULL,
 CONSTRAINT [PK_Skill_Block] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.05.2023 17:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[#] [float] NOT NULL,
	[FIO] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[PIN] [float] NULL,
	[Дата рождения] [datetime] NULL,
	[ID role] [float] NULL,
	[skill] [float] NULL,
	[region] [float] NOT NULL,
	[место] [float] NULL,
	[чемпионат] [float] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[#] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 0)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 31)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 52)
GO
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (1, N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (2, N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (3, N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
GO
INSERT [dbo].[Role] ([id role], [role]) VALUES (1, N'Участник')
INSERT [dbo].[Role] ([id role], [role]) VALUES (2, N'Эксперт')
INSERT [dbo].[Role] ([id role], [role]) VALUES (3, N'Гланый эксперт')
GO
INSERT [dbo].[Skill_Block] ([id], [title]) VALUES (1, N'Информационные и коммуникационные технологии')
INSERT [dbo].[Skill_Block] ([id], [title]) VALUES (2, N'Образование')
INSERT [dbo].[Skill_Block] ([id], [title]) VALUES (3, N'Производство и инженерные технологии')
GO
INSERT [dbo].[Users] ([#], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат]) VALUES (1, N'Пересторонин Михаил Онисимович', N'м', N'BwQeaaBt', 28570, CAST(N'2000-09-29T00:00:00.000' AS DateTime), 1, 21, 76, 1, 5)
INSERT [dbo].[Users] ([#], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат]) VALUES (2, N'Тёмкин Адам Евстафиевич', N'м', N'@@tdGgjh', 98025, CAST(N'1973-08-26T00:00:00.000' AS DateTime), 2, 37, 45, NULL, NULL)
INSERT [dbo].[Users] ([#], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат]) VALUES (3, N'Андронов Ян Назарович', N'м', N'7ccYtusD', 33216, CAST(N'1977-08-03T00:00:00.000' AS DateTime), 2, 35, 22, 1, 2)
GO
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_Competition] FOREIGN KEY([competition_id])
REFERENCES [dbo].[Competition] ([id])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_Competition]
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD  CONSTRAINT [FK_Skill_Skill_Block] FOREIGN KEY([skill_block_id])
REFERENCES [dbo].[Skill_Block] ([id])
GO
ALTER TABLE [dbo].[Skill] CHECK CONSTRAINT [FK_Skill_Skill_Block]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_regions] FOREIGN KEY([region])
REFERENCES [dbo].[regions] ([Код])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_regions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([ID role])
REFERENCES [dbo].[Role] ([id role])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
