USE [master]
GO
/****** Object:  Database [db_bsn_user2]    Script Date: 25.05.2023 17:05:50 ******/
CREATE DATABASE [db_bsn_user2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bsn_user2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_bsn_user2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bsn_user2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bsn_user2]
GO
/****** Object:  User [bsn_user2]    Script Date: 25.05.2023 17:05:50 ******/
CREATE USER [bsn_user2] FOR LOGIN [bsn_user2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bsn_user2]
GO
/****** Object:  Table [dbo].[competition]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition](
	[id] [int] NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
	[description] [nvarchar](max) NULL,
	[city] [nvarchar](250) NULL,
 CONSTRAINT [PK_competition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[region]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region](
	[Код] [int] NOT NULL,
	[Название региона] [varchar](150) NULL,
	[Столица] [varchar](150) NULL,
	[Округ] [varchar](150) NULL,
 CONSTRAINT [PK_region] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[skill_id] [int] NOT NULL,
	[title] [nvarchar](max) NULL,
	[skill_block] [int] NULL,
	[is_future] [bit] NULL,
	[workSquare] [int] NULL,
	[marksSquaer] [int] NULL,
	[breefSquare] [int] NULL,
	[skladSquare] [int] NULL,
	[countPeople] [int] NULL,
 CONSTRAINT [PK_skill] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_comp]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_comp](
	[skill_id] [int] NOT NULL,
	[comp_id] [int] NOT NULL,
 CONSTRAINT [PK_skill_comp] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC,
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[id] [int] NOT NULL,
	[title] [varchar](150) NULL,
	[is_future] [bit] NULL,
	[squaerWork] [int] NULL,
	[squareMark] [int] NULL,
	[squareBreef] [int] NULL,
	[squareSclad] [int] NULL,
	[countPeople] [int] NULL,
 CONSTRAINT [PK_skills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[FullName] [varchar](150) NULL,
	[gender] [varchar](50) NULL,
	[password] [varchar](150) NULL,
	[PIN] [varchar](150) NULL,
	[birthday] [date] NULL,
	[role_id] [int] NOT NULL,
	[skill] [int] NULL,
	[region] [int] NULL,
	[mesto] [int] NULL,
	[competition] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[region] ([Код], [Название региона], [Столица], [Округ]) VALUES (1, N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[region] ([Код], [Название региона], [Столица], [Округ]) VALUES (2, N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[region] ([Код], [Название региона], [Столица], [Округ]) VALUES (3, N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
GO
INSERT [dbo].[role] ([role_id], [name]) VALUES (1, N'Участник')
INSERT [dbo].[role] ([role_id], [name]) VALUES (2, N'Эксперт')
INSERT [dbo].[role] ([role_id], [name]) VALUES (3, N'Гланый эксперт')
GO
INSERT [dbo].[skill_comp] ([skill_id], [comp_id]) VALUES (1, 1)
INSERT [dbo].[skill_comp] ([skill_id], [comp_id]) VALUES (1, 100)
INSERT [dbo].[skill_comp] ([skill_id], [comp_id]) VALUES (2, 2)
GO
INSERT [dbo].[skills] ([id], [title], [is_future], [squaerWork], [squareMark], [squareBreef], [squareSclad], [countPeople]) VALUES (1, N'Изготовление прототипов', 1, 2, 7, 30, 5, 6)
INSERT [dbo].[skills] ([id], [title], [is_future], [squaerWork], [squareMark], [squareBreef], [squareSclad], [countPeople]) VALUES (2, N'Аддитивное производство', 1, 4, 8, 20, 10, 5)
INSERT [dbo].[skills] ([id], [title], [is_future], [squaerWork], [squareMark], [squareBreef], [squareSclad], [countPeople]) VALUES (3, N'Промышленная робототехника', 1, 4, 7, 27, 9, 4)
GO
INSERT [dbo].[users] ([id], [FullName], [gender], [password], [PIN], [birthday], [role_id], [skill], [region], [mesto], [competition]) VALUES (1, N'Марков Данил Петрович', N'м', N'1234', N'1234', CAST(N'2004-05-01' AS Date), 6, 1, NULL, NULL, 100)
INSERT [dbo].[users] ([id], [FullName], [gender], [password], [PIN], [birthday], [role_id], [skill], [region], [mesto], [competition]) VALUES (2, N'Михельсон Илья Витальевич', N'м', N'1234', N'2', CAST(N'2004-01-01' AS Date), 1, 1, 56, 1, 100)
INSERT [dbo].[users] ([id], [FullName], [gender], [password], [PIN], [birthday], [role_id], [skill], [region], [mesto], [competition]) VALUES (3, N'Давлетшин Артем Рустемович', N'м', N'1234', N'3', CAST(N'2004-01-01' AS Date), 2, 1, 56, NULL, 100)
GO
ALTER TABLE [dbo].[skill_comp]  WITH CHECK ADD  CONSTRAINT [FK_skill_comp_competition1] FOREIGN KEY([comp_id])
REFERENCES [dbo].[competition] ([id])
GO
ALTER TABLE [dbo].[skill_comp] CHECK CONSTRAINT [FK_skill_comp_competition1]
GO
ALTER TABLE [dbo].[skill_comp]  WITH CHECK ADD  CONSTRAINT [FK_skill_comp_skills1] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skills] ([id])
GO
ALTER TABLE [dbo].[skill_comp] CHECK CONSTRAINT [FK_skill_comp_skills1]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_competition] FOREIGN KEY([competition])
REFERENCES [dbo].[competition] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_competition]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_region] FOREIGN KEY([region])
REFERENCES [dbo].[region] ([Код])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_region]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
/****** Object:  StoredProcedure [dbo].[getSkillsById]    Script Date: 25.05.2023 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[getSkillsById]
@idComp int
as
begin

declare @id int;
select @id = skill_id from skill_comp where comp_id = @idComp;
select id, title from skills where id = @id;

end;
GO
USE [master]
GO
