USE [master]
GO
/****** Object:  Database [db_bsn_user5]    Script Date: 25.05.2023 17:01:21 ******/
CREATE DATABASE [db_bsn_user5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bsn_user5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user5.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_bsn_user5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bsn_user5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bsn_user5]
GO
/****** Object:  User [bsn_user5]    Script Date: 25.05.2023 17:01:21 ******/
CREATE USER [bsn_user5] FOR LOGIN [bsn_user5] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bsn_user5]
GO
/****** Object:  Table [dbo].[competition]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
	[description] [nvarchar](4000) NOT NULL,
	[city] [nvarchar](100) NULL,
 CONSTRAINT [PK_competition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competition_skill]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition_skill](
	[competition_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_competition_skill] PRIMARY KEY CLUSTERED 
(
	[competition_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[Код] [int] NOT NULL,
	[Название региона] [varchar](100) NOT NULL,
	[Столица] [varchar](100) NOT NULL,
	[Округ] [varchar](100) NOT NULL,
 CONSTRAINT [PK_regions] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [int] NOT NULL,
	[role] [nvarchar](255) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[skill_block_id] [int] NOT NULL,
	[is_future] [int] NOT NULL,
	[description] [nvarchar](4000) NULL,
	[площадь на рабочее место (кв#м)] [int] NOT NULL,
	[площадь комнаты оценки на одну экспертную группу (кв# м)] [int] NOT NULL,
	[зона брифинга (кв# м)] [int] NOT NULL,
	[площадь склада (кв# м)] [int] NOT NULL,
	[для расчетов] [int] NOT NULL,
	[количество участников в команде] [int] NOT NULL,
 CONSTRAINT [PK_skill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_block]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_block](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_skill_block] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_mark]    Script Date: 25.05.2023 17:01:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_mark](
	[id_user] [float] NOT NULL,
	[FIO] [nvarchar](255) NOT NULL,
	[gender] [nvarchar](1) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[PIN] [int] NOT NULL,
	[Data_birth] [date] NOT NULL,
	[ID_role] [int] NOT NULL,
	[skill] [int] NULL,
	[region] [int] NULL,
	[mesto] [int] NULL,
	[championate] [int] NULL,
 CONSTRAINT [PK_users_mark] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 31)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 52)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 53)
GO
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (1, N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (2, N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (3, N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
GO
INSERT [dbo].[role] ([id_role], [role]) VALUES (1, N'Участник')
INSERT [dbo].[role] ([id_role], [role]) VALUES (2, N'Эксперт')
INSERT [dbo].[role] ([id_role], [role]) VALUES (3, N'Главный эксперт')
GO
INSERT [dbo].[skill_block] ([id], [title]) VALUES (1, N'Информационные и коммуникационные технологии')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (2, N'Образование')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (3, N'Производство и инженерные технологии')
GO
INSERT [dbo].[users_mark] ([id_user], [FIO], [gender], [password], [PIN], [Data_birth], [ID_role], [skill], [region], [mesto], [championate]) VALUES (1, N'Пересторонин Михаил Онисимович', N'м', N'BwQeaaBt', 28570, CAST(N'2000-09-29' AS Date), 1, 21, 76, 1, 5)
INSERT [dbo].[users_mark] ([id_user], [FIO], [gender], [password], [PIN], [Data_birth], [ID_role], [skill], [region], [mesto], [championate]) VALUES (2, N'Тёмкин Адам Евстафиевич', N'м', N'@@tdGgjh', 98025, CAST(N'1973-08-26' AS Date), 2, 37, 45, NULL, NULL)
INSERT [dbo].[users_mark] ([id_user], [FIO], [gender], [password], [PIN], [Data_birth], [ID_role], [skill], [region], [mesto], [championate]) VALUES (3, N'Андронов Ян Назарович', N'м', N'7ccYtusD', 33216, CAST(N'1977-08-03' AS Date), 2, 35, 22, 1, 2)
GO
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_competition] FOREIGN KEY([competition_id])
REFERENCES [dbo].[competition] ([id])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_competition]
GO
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([id])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_skill]
GO
ALTER TABLE [dbo].[skill]  WITH CHECK ADD  CONSTRAINT [FK_skill_skill_block] FOREIGN KEY([skill_block_id])
REFERENCES [dbo].[skill_block] ([id])
GO
ALTER TABLE [dbo].[skill] CHECK CONSTRAINT [FK_skill_skill_block]
GO
ALTER TABLE [dbo].[users_mark]  WITH CHECK ADD  CONSTRAINT [FK_users_mark_competition] FOREIGN KEY([championate])
REFERENCES [dbo].[competition] ([id])
GO
ALTER TABLE [dbo].[users_mark] CHECK CONSTRAINT [FK_users_mark_competition]
GO
ALTER TABLE [dbo].[users_mark]  WITH CHECK ADD  CONSTRAINT [FK_users_mark_regions] FOREIGN KEY([region])
REFERENCES [dbo].[regions] ([Код])
GO
ALTER TABLE [dbo].[users_mark] CHECK CONSTRAINT [FK_users_mark_regions]
GO
ALTER TABLE [dbo].[users_mark]  WITH CHECK ADD  CONSTRAINT [FK_users_mark_role] FOREIGN KEY([ID_role])
REFERENCES [dbo].[role] ([id_role])
GO
ALTER TABLE [dbo].[users_mark] CHECK CONSTRAINT [FK_users_mark_role]
GO
USE [master]
GO
