USE [master]
GO
/****** Object:  Database [db_bsn_user3]    Script Date: 25.05.2023 16:59:57 ******/
CREATE DATABASE [db_bsn_user3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bsn_user3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user3.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_bsn_user3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\db_bsn_user3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bsn_user3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bsn_user3]
GO
/****** Object:  User [bsn_user3]    Script Date: 25.05.2023 16:59:57 ******/
CREATE USER [bsn_user3] FOR LOGIN [bsn_user3] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bsn_user3]
GO
/****** Object:  Table [dbo].[competition]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[date_start] [datetime] NULL,
	[date_end] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[city] [nvarchar](255) NULL,
 CONSTRAINT [PK_ID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competition_skill]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition_skill](
	[competition_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_competitionn_skill] PRIMARY KEY CLUSTERED 
(
	[competition_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[Код] [int] NOT NULL,
	[Название региона] [varchar](50) NULL,
	[Столица] [varchar](50) NULL,
	[Округ] [varchar](50) NULL,
 CONSTRAINT [PK_regions_id] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[role] [nvarchar](255) NULL,
 CONSTRAINT [PK_role_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[skill_block_id] [int] NULL,
	[is_future] [float] NULL,
	[description] [nvarchar](max) NULL,
	[площадь на рабочее место (кв#м)] [float] NULL,
	[площадь комнаты оценки на одну экспертную группу (кв# м)] [float] NULL,
	[зона брифинга (кв# м)] [float] NULL,
	[площадь склада (кв# м)] [float] NULL,
	[F10] [float] NULL,
	[количество участников в команде] [float] NULL,
 CONSTRAINT [PK_skill_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_block]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_block](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
 CONSTRAINT [PK_skill_block_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 25.05.2023 16:59:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[FIO] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[PIN] [float] NULL,
	[Дата рождения] [datetime] NULL,
	[ID role] [int] NOT NULL,
	[skill] [int] NULL,
	[region] [int] NULL,
	[место] [int] NULL,
	[чемпионат] [int] NULL,
	[telephone] [nvarchar](12) NULL,
	[email] [nvarchar](255) NULL,
	[статус согласования] [nvarchar](255) NULL,
	[согласование] [bit] NULL,
	[статус подтверждения] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 0)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 31)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 52)
GO
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (1, N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (2, N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (3, N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
GO
INSERT [dbo].[role] ([id], [role]) VALUES (1, N'Участник')
INSERT [dbo].[role] ([id], [role]) VALUES (2, N'Эксперт')
INSERT [dbo].[role] ([id], [role]) VALUES (3, N'Гланый эксперт')
GO
INSERT [dbo].[skill_block] ([id], [title]) VALUES (1, N'Информационные и коммуникационные технологии')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (2, N'Образование')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (3, N'Производство и инженерные технологии')
GO
INSERT [dbo].[users] ([id], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат], [telephone], [email], [статус согласования], [согласование], [статус подтверждения]) VALUES (1, N'Пересторонин Михаил Онисимович', N'м', N'BwQeaaBt', 28570, CAST(N'2000-09-29T00:00:00.000' AS DateTime), 1, 21, 76, 1, 5, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат], [telephone], [email], [статус согласования], [согласование], [статус подтверждения]) VALUES (2, N'Тёмкин Адам Евстафиевич', N'м', N'@@tdGgjh', 98025, CAST(N'1973-08-26T00:00:00.000' AS DateTime), 2, 37, 45, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[users] ([id], [FIO], [gender], [password], [PIN], [Дата рождения], [ID role], [skill], [region], [место], [чемпионат], [telephone], [email], [статус согласования], [согласование], [статус подтверждения]) VALUES (3, N'Андронов Ян Назарович', N'м', N'7ccYtusD', 33216, CAST(N'1977-08-03T00:00:00.000' AS DateTime), 2, 35, 22, 1, 2, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_competition_id] FOREIGN KEY([competition_id])
REFERENCES [dbo].[competition] ([id])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_competition_id]
GO
ALTER TABLE [dbo].[skill]  WITH CHECK ADD  CONSTRAINT [FK_skill_skill_block] FOREIGN KEY([skill_block_id])
REFERENCES [dbo].[skill_block] ([id])
GO
ALTER TABLE [dbo].[skill] CHECK CONSTRAINT [FK_skill_skill_block]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role] FOREIGN KEY([ID role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role]
GO
USE [master]
GO
